# Python Basics: Dictionaries

Today I explored **dictionaries** in Python â€” one of the most powerful built-in data structures. A dictionary is a collection of **key-value pairs**, enclosed in **curly braces `{}`** and separated by a **colon `:`**.

#### Key Properties of Dictionaries:

* Dictionaries are **mutable** (we can add, update, or remove items).
* Keys must be **unique** and **immutable** (like strings, numbers, or tuples).
* Values can be **any data type**, including lists, tuples, or even other dictionaries.

---

#### ðŸ“˜ Topics Covered:

* Creating dictionaries using `{}` or `dict()`
* Using **integer**, **string**, and **mixed-type** keys
* Accessing values using `[]` or `.get()`
* Working with nested data (lists, tuples, and dictionaries as values)
* Creating dictionaries from a sequence of keys using `fromkeys()`
* Updating, adding, and removing items using:

  * `update()`, `pop()`, `popitem()`, `del`, and `clear()`
* Copying dictionaries using `copy()`
* Looping through keys and values using `for` loop
* Checking membership using `in`
* Using built-in functions: `all()`, `any()`, `len()`, `id()`

---

####  Real-life Example:

Dictionaries are often used to store structured data like:

```python
employee = {
  'Name': 'Shalu',
  'ID': 2207,
  'DOB': 2004,
}
```

You can nest lists or even other dictionaries as values, and update or access any part easily.

# Create Dictionary

In [1]:
mydict = dict() # empty dictionary 
mydict

{}

In [2]:
mydict = {} # empty dictionary 
mydict

{}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [8]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [9]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [12]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [1]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'Angel' , 'Age' :20}, 'B':('Bat' , 'cat', 'hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'Angel', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [14]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict3

{'c': None, 'd': None, 'a': None, 'b': None}

In [15]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'c': 10, 'd': 10, 'a': 10, 'b': 10}

In [16]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'c': [10, 20, 30], 'd': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [17]:
value.append(40) 
mydict3

{'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# Accessing Items

In [43]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [44]:
mydict[1] # Access item using key

'one'

In [45]:
mydict.get(1) # Access item using get() method

'one'

In [46]:
mydict1 = {'Name':'Alok' , 'ID': 743 , 'DOB': 2006 , 'job' :'study'} 
mydict1

{'Name': 'Alok', 'ID': 743, 'DOB': 2006, 'job': 'study'}

In [47]:
mydict1['Name'] # Access item using key

'Alok'

In [48]:
mydict1.get('job') # Access item using get() method

'study'

# Add, Remove & Change Items

In [2]:
mydict1 = {'Name':'Shalu' , 'ID': 2207 , 'DOB': 2004 , 'Address' : 'Bihar'} 
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'Bihar'}

In [3]:
mydict1['DOB'] = 2001 # Changing Dictionary Items 
mydict1['Address'] = 'Patna' 
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2001, 'Address': 'Patna'}

In [4]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 1995, 'Address': 'Patna'}

In [5]:
mydict1['Job'] = 'No' # Adding items in the dictionary 
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 1995, 'Address': 'Patna', 'Job': 'No'}

In [6]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 1995, 'Address': 'Patna'}

In [7]:
mydict1.popitem() # A random item is removed

('Address', 'Patna')

In [8]:
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 1995}

In [9]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Shalu', 'DOB': 1995}

In [10]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [11]:
del mydict1 # Delete the dictionary object 
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [14]:
mydict = {'Name':'Shalu' , 'ID': 2207 , 'DOB': 2004 , 'Address' : 'Bhopal'} 
mydict

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'Bhopal'}

In [15]:
mydict1 = mydict # Create a new reference "mydict1"

In [16]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2751198996544, 2751198996544)

In [17]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [18]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

2751198812032

In [19]:
mydict['Address'] = 'Mumbai'

In [20]:
mydict

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'Mumbai'}

In [21]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'Mumbai'}

In [22]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'Bhopal'}

# Loop through a Dictionary

In [24]:
mydict1 = {'Name':'Shalu' , 'ID': 2207 , 'DOB': 2004 , 'Address' : 'MP' }
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'MP'}

In [25]:
for i in mydict1: 
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Shalu
ID : 2207
DOB : 2004
Address : MP

In [26]:
for i in mydict1: 
    print(mydict1[i]) # Dictionary items

Shalu
2207
2004
MP

# Dictionary Membership

In [29]:
mydict1 = {'Name':'Shalu' , 'ID': 2207 , 'DOB': 2004 , 'Address' : 'MP' }
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'MP'}

In [30]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [32]:
'Shalu' in mydict1 # Membership test can be only done for keys.

False

In [34]:
'ID' in mydict1

True

In [35]:
'Address' in mydict1

True

# All / Any 
The all() method returns: 
### True - If all all keys of the dictionary are true 
### False - If any key of the dictionary is false 
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [37]:
mydict1 = {'Name':'Shalu' , 'ID': 2207 , 'DOB': 2004 , 'Address' : 'MP' }
mydict1

{'Name': 'Shalu', 'ID': 2207, 'DOB': 2004, 'Address': 'MP'}

In [39]:
all(mydict1) # Will Return false as one value is false (Value 0)

True