# Tuples in Python

Today I learned about **tuples** in Python. A tuple is a collection used to store multiple items in a single variable. Unlike lists, tuples are **immutable**, which means once created, their values cannot be changed.

You create a tuple by placing items inside **parentheses** like this:
`t = (1, 'Two', 3.0)`

Tuples are useful when you want to make sure the data stays unchanged. For example, **bank records** or fixed settings can be stored as tuples.

Although tuples themselves can't be modified, they can contain **mutable objects** like lists. If a list is inside a tuple, you can still change the list’s contents:

* Example:
  `t = (1, ['a', 'b', 'd'], 0)`
  Change: `t[1][2] = 'c'`
  Result: `(1, ['a', 'b', 'c'], 0)`
  So yes, **it's okay to change the list inside a tuple**.

Tuples support only two main functions:

* `index()` – tells you the position of an item
* `count()` – counts how many times an item appears

Functions like `append()`, `remove()`, or `sort()` won’t work on tuples, because they are designed for lists which are changeable.

Tuples can be:

* Nested (you can have a tuple inside a tuple)
* Contain lists (you can have a list inside a tuple)

An **empty tuple** is written like this: `()`

Also, tuples (like strings and lists) are **iterable and ordered**. This means their items can be looped through, and they have a fixed order.

You can also create a tuple using the **tuple() constructor**.

# Tuple creation

In [1]:
tup1 = () # Empty tuple
tup2 = (10,20,30,60) # tuple of integers numbers 
tup3 = (10.77,30.66,60.89) # tuple of flots numbers
tup4 = ("one",'two','Three') # tuple of strings
tup5 = ("Shalini",25,(50,100),(150,90)) #nested tuples
tup6 = (100,'Shalu',17.765) #tuple of mix data types
tup7 = ('Shalu',25,[50,100],[150,90],{'Jonny','Sins'},(99,22,33))
len(tup7) #Length of list

6

In [2]:
print('tup1 :',tup1)
print('tup2 :',tup2)
print('tup3 :',tup3)
print('tup4 :',tup4)
print('tup5 :',tup5)
print('tup6 :',tup6)
print('tup7 :',tup7)

tup1 : ()
tup2 : (10, 20, 30, 60)
tup3 : (10.77, 30.66, 60.89)
tup4 : ('one', 'two', 'Three')
tup5 : ('Shalini', 25, (50, 100), (150, 90))
tup6 : (100, 'Shalu', 17.765)
tup7 : ('Shalu', 25, [50, 100], [150, 90], {'Sins', 'Jonny'}, (99, 22, 33))

# Tuple Indexing

In [3]:
tup2[0] # Retreive first element of the tuple

10

In [4]:
tup4[0] # Retreive first element of the tuple

'one'

In [6]:
tup4[0][0] #Nested Indexing - Access the frist character of the first tuple element

'o'

In [7]:
tup4[-1] # Last item of the tuple

'Three'

# Tuple Slicing

In [5]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [6]:
mytuple[0:3] #Return all items from 0th to 3rd index location

('one', 'two', 'three')

In [7]:
mytuple[2:5] #Return all items from 2th to 5th index location

('three', 'four', 'five')

In [11]:
mytuple[:3] #Return first three items

('one', 'two', 'three')

In [12]:
mytuple[:2] #Return first 2 items

('one', 'two')

In [13]:
mytuple[-3:] #Return last three items

('six', 'seven', 'eight')

In [14]:
mytuple[-2:] #Return last 2 items

('seven', 'eight')

In [15]:
mytuple[-1] #Return last item of tuple

'eight'

In [16]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & change items

In [17]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [18]:
del mytuple[0] # Tuples are immutable which means we can not DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [19]:
 mytuple[0] = 1 # Tuples are immutable which means we can not CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple # Deleting entire tuple object is possible

# Loop Through a Tuple

In [20]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [21]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [22]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [23]:
mytuple
'one' in mytuple # Check of 'one' exist in the tuple

True

In [24]:
'ten' in mytuple # Check of 'ten' exist in the tuple

False

In [25]:
if 'three' in mytuple:    # Check if 'three' exist in the List
    print('Yes, Three is present in the Tuple')
else:
     print('No, Three is not present in the Tuple')

Yes, Three is present in the Tuple

In [26]:
if 'Twenty' in mytuple:    # Check if 'Twenty' exist in the List
    print('Yes, Twenty is present in the Tuple')
else:
     print('No, Twenty is not present in the Tuple')

No, Twenty is not present in the Tuple

# Index Position

In [27]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [28]:
mytuple.index('one') #Index of first elemnts equal to 'one'

0

In [29]:
mytuple.index('five') #Index of first elemnts equal to 'five'

4

# Sorting

In [30]:
mytuple1 = (1,4,5,7,33,12,34,76,89,90,1,2)

In [31]:
mytuple1

(1, 4, 5, 7, 33, 12, 34, 76, 89, 90, 1, 2)

In [32]:
sorted(mytuple1) # Retuen a new sorted list and does not change original tuple

[1, 1, 2, 4, 5, 7, 12, 33, 34, 76, 89, 90]

In [33]:
sorted(mytuple1, reverse =True) #Sort in descending order

[90, 89, 76, 34, 33, 12, 7, 5, 4, 2, 1, 1]