# Python Basics: Variables, Printing & Multiple Assignments

# Variables in Python

In [3]:
# Variables in Python 

first_name = 'Shalini'
last_name = 'Kumari'
country = 'India'
city = 'Patna'
age = 800
is_married = False
skills = ['Python']
person_info = {
    'firstname':'Angel', 
    'lastname':'Raj', 
    'country':'India',
    'city':'Bhopal'
    }

# Printing the values stored in the variables

In [4]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Shalini
First name length: 7
Last name:  Kumari
Last name length:  6
Country:  India
City:  Patna
Age:  800
Married:  False
Skills:  ['Python']
Person information:  {'firstname': 'Angel', 'lastname': 'Raj', 'country': 'India', 'city': 'Bhopal'}

# Declaring multiple variables in one line

In [5]:
# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Malhar', 'Poonawala', 'Ireland', 250, True

# Printing the values stored in the  Multiple variables in a line

In [6]:
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Malhar Poonawala Ireland 250 True
First name: Malhar
Last name:  Poonawala
Country:  Ireland
Age:  250
Married:  True